<a href="https://colab.research.google.com/github/alexs-alexs/Python/blob/main/Estructura_de_control_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LISTAS

Crear una lista:
Puedes crear una lista utilizando corchetes [] y separando los elementos con comas. Aquí hay un ejemplo de una lista de números:

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
print(mi_lista)

[1, 2, 3, 4, 5]

También puedes crear una lista vacía simplemente usando corchetes vacíos:

In [ ]:
lista_vacia = []

Acceder a elementos de una lista:
Puedes acceder a elementos individuales de una lista utilizando índices. Los índices en Python comienzan en 0, lo que significa que el primer elemento tiene un índice 0, el segundo tiene un índice 1 y así sucesivamente. Por ejemplo:

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
primer_elemento = mi_lista[0]  # Acceder al primer elemento (1)
segundo_elemento = mi_lista[1]  # Acceder al segundo elemento (2)

También puedes acceder a los elementos desde el final de la lista utilizando índices negativos. -1 se refiere al último elemento, -2 al penúltimo, y así sucesivamente.

In [ ]:
ultimo_elemento = mi_lista[-1]  # Acceder al último elemento (5)

Modificar elementos de una lista:
Puedes cambiar el valor de un elemento específico en una lista asignándole un nuevo valor utilizando su índice. Por ejemplo:

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
mi_lista[2] = 10  # Cambiar el tercer elemento (índice 2) a 10

Agregar elementos a una lista:
Puedes agregar elementos a una lista utilizando el método append(), que agrega un elemento al final de la lista:

In [ ]:
mi_lista = [1, 2, 3]
mi_lista.append(4)  # Agregar 4 al final de la lista

Eliminar elementos de una lista:
Puedes eliminar elementos de una lista utilizando el método remove() para eliminar un elemento específico por su valor o del para eliminar un elemento por su índice. Por ejemplo:

In [ ]:
mi_lista = [1, 2, 3, 4, 5]
mi_lista.remove(3)  # Eliminar el valor 3 de la lista
del mi_lista[1]     # Eliminar el segundo elemento (índice 1) pocision

#Listas de Listas

Ejemplo:

In [ ]:
matriz = [[1, 2], [3, 4]]

Ejemplo:

In [ ]:
nombres = [["Juan", "María"], ["Pedro", "Ana"], ["Carlos", "Laura"]]

Realizar el ejemplo de la clase anterior a base de listas

    usuarios_clave = [
    ["ejecutivo@gmail.com", "$50dato50$"],
    ["ventas@gmail.com", "#venntas2023"],
    ["gerencia@gmail.com", "tugerente"]
    ]

In [ ]:
usuarios_clave = [
["ejecutivo@gmail.com", "$50dato50$"],
["ventas@gmail.com", "#venntas2023"],
["gerencia@gmail.com", "tugerente"]
]

intentos = 3

while intentos > 0:

    correo=str(input("introduzca su correo:"))
    clave=str(input("introduzca su contraseña:"))

    if [correo,clave] in usuarios_clave:
        print("inicio exitoso")
        break
    else:
        intentos -=1
        print(f"tiene {intentos} intentos")

introduzca su correo:ejecutivo@gmail.com
introduzca su contraseña:$50dato50$
inicio exitoso

#Estructura for

### (1) Itera cada letra del abecedario  con el bucle for

In [ ]:
abc = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z" ]

for variable in abc:
  print(variable)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

### (2) Itera la siguiente lista
    lista = [1, 2, 3, 4, 5]

In [ ]:
lista = [1,2,3,4,5]

for u in lista:
  print(u)

1
2
3
4
5

Ejemplo 1: Iterar sobre una lista

In [ ]:
frutas = ["manzana", "plátano", "naranja"]
for fruta in frutas:
    print(fruta)

manzana
plátano
naranja

Este código imprimirá cada elemento de la lista frutas en una línea separada.

Ejemplo 2: Iterar sobre una cadena de caracteres

In [ ]:
mensaje = "Hola, mundo!"
for letra in mensaje:
    print(letra)

H
o
l
a
,

m
u
n
d
o
!

Tarea: guardar datos e iterar

    datos = [ "nombre","apellidoPaterno","apellidomaterno" ]

##Funcion range( ) en python

La función range() en Python se utiliza comúnmente en bucles for para generar una secuencia de números enteros. Esta función es especialmente útil cuando deseas ejecutar un bucle un número específico de veces o cuando necesitas generar una secuencia de números para iterar sobre ellos. La sintaxis básica de la función range() es la siguiente:

    range(fin)
    range(inicio, fin)
    range(inicio, fin, paso)

Ejemplo 1: Usando solo el valor de "fin" en range()

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

Ejemplo 2: Especificando "inicio" y "fin" en range()

In [ ]:
for i in range(2, 6):
    print(i)

2
3
4
5

Ejemplo 3: Especificando "inicio", "fin" y "paso" en range()

In [ ]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

Tarea: Realizar un contador que genere numeros de 10 en 10 hasta el 500

#DICCIONARIOS EN PYTHON

Crear un diccionario:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50}

print(mi_diccionario)

tu_diccionario=dict(Ciudad ='La paz',Telefono=70472)

print(tu_diccionario)

{'Nombre': 'Juan', 'edad': 50}
{'Ciudad': 'La paz', 'Telefono': 70472}

Acceder a un valor mediante una clave:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50}

print(mi_diccionario['edad'])

50

Modificar un valor en el diccionario:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50}

mi_diccionario['Nombre']='Alex'

print(mi_diccionario)

Agregar nuevos elementos al diccionario:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50}

mi_diccionario['profesion']='Informatico'

print(mi_diccionario)

Eliminar elementos del diccionario:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50}

del mi_diccionario['Nombre']

print(mi_diccionario)

Comprobar si una clave existe en el diccionario:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50,'profesion':'Tecnico'}

if 'profesion' in mi_diccionario:
    print("Clave encontrada")
else:
    print("No hay dato")

Iterar a través de las claves y valores:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50,'profesion':'Tecnico'}

for clave,valor in mi_diccionario.items():
    print(clave,valor)

Longitud de un diccionario:

In [ ]:
mi_diccionario = {'Nombre':'Juan','edad':50,'profesion':'Tecnico'}

print(len(mi_diccionario))

#ARCHIVOS JSON

    •   'r' (read - lectura): Este modo se utiliza para abrir un archivo en modo de lectura. Puedes usarlo para leer el contenido del archivo, pero no puedes realizar operaciones de escritura en él. Si el archivo no existe, se producirá un error.
    •  'w' (write - escritura): Este modo se utiliza para abrir un archivo en modo de escritura. Si el archivo ya existe, su contenido se borrará y se reemplazará con el nuevo contenido que escribas en él. Si el archivo no existe, se creará uno nuevo.
    •  'a' (append - agregar): Este modo se utiliza para abrir un archivo en modo de escritura, pero no borra el contenido existente. En su lugar, agrega nuevo contenido al final del archivo. Si el archivo no existe, se creará uno nuevo.
    •  'x' (exclusive creation - creación exclusiva): Este modo se utiliza para crear un nuevo archivo para escritura, pero si el archivo ya existe, se producirá un error en lugar de sobrescribirlo.
    •  'b' (binary mode - modo binario): Puedes agregar 'b' a cualquiera de los modos anteriores (por ejemplo, 'rb' o 'wb') para abrir el archivo en modo binario. Esto es útil al trabajar con archivos binarios como imágenes o archivos de datos.
    •  't' (text mode - modo de texto): Este es el modo predeterminado y se utiliza para abrir el archivo en modo de texto. Puedes agregar 't' a cualquiera de los modos anteriores (por ejemplo, 'rt' o 'wt') para especificar explícitamente que el archivo se abre en modo de texto.

Crear un Objeto JSON y guardarlo en un archivo

In [ ]:
import json

datos={
       "Nombre":"Juan",
       "Edad":30,
       "Ciudad":"Santa Cruz"
       }

with open ('datos.json','w') as archivo_json:
    json.dump(datos,archivo_json)

Leer un Objeto Json

In [ ]:
import json

with open('informacion.json','r') as archivo_json:
    datos_cargados=json.load(archivo_json)

print(datos_cargados)